altair==5.1.1
anaconda-client==1.11.0
anaconda-navigator==2.3.2
anaconda-project @ 
appdirs==1.4.4
asgiref==3.6.0
blinker==1.6.2
brotlipy==0.7.0
cachetools==5.3.1
click==7.1.2
clyent==1.2.2
conda==22.9.0
conda-build==3.22.0
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
cytoolz==0.11.0
daal4py==2021.6.0
datashape==0.5.4
distlib==0.3.6
Django==4.1.7
fonttools==4.25.0
gitdb==4.0.10
GitPython==3.1.37
inflection==0.5.1
llvmlite==0.38.0
mdurl==0.1.2
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
mysql-connector-python==8.0.32
pandas==1.4.4
patsy==0.5.2
pep8==1.7.1
Pillow==9.2.0
pipenv==2023.2.18
plotly-express==0.4.1
powerline-shell==0.7.0
protobuf==3.20.3
pyarrow==13.0.0
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.45.1
pydeck==0.8.1b0
PyDispatcher==2.0.5
Pygments==2.16.1
pyls-spyder==0.4.0
PyMySQL==1.0.2
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pytest==7.1.2
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.21.0
python-lsp-jsonrpc==1.0.0
PyYAML==6.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
queuelib==1.5.0
rich==13.5.3
scipy==1.9.1
smmap==5.0.1
sqlparse==0.4.3
streamlit==1.27.0
TBB==0.2
tenacity==8.2.3
tzlocal==5.0.1
validators==0.22.0
virtualenv==20.19.0
virtualenv-clone==0.5.7
webencodings==0.5.1

zict==2.1.0
zipp @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b279673d-f037-44c7-8773-c5a6b6f51037d3wfr9cq/croots/recipe/zipp_1652341773612/work
zope.interface @ file:///opt/concourse/worker/volumes/live/8c2d4bd1-6406-47f0-45ce-890992bafbf6/volume/zope.interface_1625036159007/work
